h1{
  text-align: center;
  font-size: 37px;
}
img{
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 768px;
  height: 768px;
}
button {
  background-image: url("AnotherOne.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  width: 80px;
  height: 80px;
  color: white;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}


